
    <!-- Scripts -->
    <script src="/js/index.js"></script>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="common/index.css">
    <link rel="stylesheet" href="common/app.css">
    <link rel="stylesheet" href="common/navbar.css">
